body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(icon/notes.jpg);
    height: 40vh;
    background-size: cover;
    padding: 15px;
    
}



input{
    
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 40%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 30%;
    
    
}

button{
    
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #90f5be;
    width: 40%;
    border: 0;
    padding: 15px;
    color: #5f5959;
    font-size: 14px;
    cursor: pointer;
    margin-left: 30%;
}

#btnCreate{
    width: 10%;
    margin-left: 1%;
   
}

#btnDelete{
    background: #f4b7dc;
    width: 13%;
    margin-left: 1%;
}

#btnDelete:hover{
    background-color: red;
}

button:hover{
    background: #43a04e;
}



div {
    width: 50%;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 1px;
    float: left;
}



.klassenavnknapp:hover{
    background-color: #f01d2d;
    color: #FFFFFF;
    color: aliceblue;
    
}

.klassenavnknapp{
    font-size: 16px;
    width: 90%;
    background-color: #f4b7dc;
    margin-left: -5%;
   
}

.klassenavn{
    font-size: 20px;
    text-decoration-line: underline;
    margin-left: -10%;
   
}

.klassenavn2{
    font-size: 20px;
    margin-left: -10%; 
}

.dato{
    color:red;
    font-size: 12px;
    margin-left: -5%;
}

.hr{
    border: 0; 
    height: 1px;
}

select{
    width: 10%;
    height: 10%;
    background-color: #86cbf7;
    font-size: 15px;
    margin-left: 30%;
}

p{
    margin-left: 30%;
    color: #383838;
}

a{
    color: #b9edeb;
}

#content{
    width: 40%;
    height: 40%;
    background-color: #f7b862;
    
}

#title{
    width: 14%;
    margin-left: 30%;
  
}


h2{
    width: 40%;
    margin-left: 30%;
    font-size: 18px;
}

#items{
    margin-left: 28%;
    
}

.nyeliste{
    background-color: #fcf5a0;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 35%;
    font-size: 14px;
}

#rate{
    margin-left: 1%;
}

select>viktig{
    color: red;
}